<section id="team">

	<h2><%= t("views.plots.show.headings.team") %></h2>

	<div class="row">
		<div class="col-lg-2">
			<%= image_tag("land_projects/team/johan_p_richter.png", alt: t("views.plots._team.copy.johan_richter_html"), title: t("views.plots._team.copy.johan_richter_html")) %>

			<p class="caption">
				<strong><%= t("views.plots._team.copy.johan_richter_html") %></strong><br />
				<%= t("views.plots._team.copy.johan_richter_title_html") %>
			</p>
		</div>

		<div class="col-lg-2">
			<%= image_tag("land_projects/team/desi_findlay.png", alt: t("views.plots._team.copy.desi_findlay_html"), title: t("views.plots._team.copy.desi_findlay_html")) %>

			<p class="caption">
				<strong><%= t("views.plots._team.copy.desi_findlay_html") %></strong><br />
				<%= t("views.plots._team.copy.desi_findlay_title_html") %>
			</p>
		</div>

		<div class="col-lg-2">
			<%= image_tag("land_projects/team/kabwe_katayi.png", alt: t("views.plots._team.copy.kabwe_katayi_html"), title: t("views.plots._team.copy.kabwe_katayi_html")) %>

			<p class="caption">
				<strong><%= t("views.plots._team.copy.kabwe_katayi_html") %></strong><br />
				<%= t("views.plots._team.copy.kabwe_katayi_title_html") %>
			</p>
		</div>

		<div class="col-lg-2">
			<%= image_tag("land_projects/team/dominic_ambulaya.png", alt: t("views.plots._team.copy.dominic_ambulaya_html"), title: t("views.plots._team.copy.dominic_ambulaya_html")) %>

			<p class="caption">
				<strong><%= t("views.plots._team.copy.dominic_ambulaya_html") %></strong><br />
				<%= t("views.plots._team.copy.dominic_ambulaya_title_html") %>
			</p>
		</div>

		<div class="col-lg-4">
			<section id="team">

				<h2><%= t("views.plots.show.headings.contact") %></h2>

				<%= t("views.plots._#{@plot.housing_project.subdomain}.copy.contact_information_html") %>

			</section><!-- /# team -->
		</div>

	</div><!-- /.row -->

</section>
