<% title t("views.plots.show.title", project_name: @plot.housing_project.name, plot_name: @plot.street_address)  %>




<section id="availability">
	<h1>
		<%= link_to @plot.housing_project.name, @plot.housing_project %><br />
		<%= @plot.street_address %>
	</h1>

	<br />

	<p>
		<strong><%= t("views.plots.show.copy.area") %></strong>:
		<%= t("views.plots.show.copy.plot_area", plot_area_in_hectares: number_with_precision(@plot.area, precision: 1), plot_area_in_acres: number_with_precision(@plot.area * 2.47105, precision: 1)) %><br />

		<strong><%= t("views.plots.show.copy.available") %></strong>:
		<%= t("views.plots.show.copy.availability.#{@plot.is_available?}") %>
	</p>
</section><!-- /#availability -->




<!-- Pictures -->
<h2><%= t("views.plots.show.headings.pictures") %></h2>

<section id="pictures">
	<div class="row">
		<!-- Plot image -->
		<div class="col-lg-8">
			<% if RoanPark::Application.assets.find_asset("land_projects/#{@plot.housing_project.subdomain}/#{@plot.street_name_and_number}_plot.jpg").nil? %>
				<%= image_tag("land_projects/generic_plot.jpg", alt: "#{@plot.street_address} plot", title: "#{@plot.street_address} plot", class: "img-responsive center-block") %>
			<% else %>
				<%= image_tag("land_projects/#{@plot.housing_project.subdomain}/#{@plot.street_name_and_number}_plot.jpg", alt: "#{@plot.street_address} plot", title: "#{@plot.street_address} plot", class: "img-responsive center-block") %>
			<% end %>
			<p class="caption"><%= t("views.plots.show.copy.plot_name", plot: @plot.street_address) %></p>
		</div>
		<!-- /Plot image -->

		<!-- Beacon image -->
		<% if RoanPark::Application.assets.find_asset("land_projects/#{@plot.housing_project.subdomain}/#{@plot.street_name_and_number}_beacon.jpg").present? %>
			<div class="col-lg-2">
				<%= image_tag("land_projects/#{@plot.housing_project.subdomain}/#{@plot.street_name_and_number}_beacon.jpg", alt: "#{@plot.street_address} beacon", title: "#{@plot.street_address} beacon", class: "img-responsive center-block") %>
				<p class="caption"><%= t("views.plots.show.copy.plot_beacon", plot: @plot.street_address) %></p>
			</div>
		<% end %>
		<!--/ Beacon image -->

		<!-- Electricity image -->
		<% if RoanPark::Application.assets.find_asset("land_projects/#{@plot.housing_project.subdomain}/#{@plot.street_address.gsub(" ", "_").downcase}_electricity.jpg").present? %>
			<div class="col-lg-2">
				<%= image_tag("land_projects/#{@plot.housing_project.subdomain}/#{@plot.street_address.gsub(" ", "_").downcase}_electricity.jpg", alt: t("views.plots._#{@plot.housing_project.subdomain}.copy.power_line_over_plot"), title: t("views.plots._#{@plot.housing_project.subdomain}.copy.power_line_over_plot")) %>
				<p class="caption"><%= t("views.plots._#{@plot.housing_project.subdomain}.copy.power_line_over_plot") %></p>
			</div>
		<% end %>
		<!-- /Electricity image -->
	</div><!-- /.row -->
</section><!-- /#pictures -->
<!-- /Pictures -->
