<div class="row">
	<div class="col-lg-12">
		<header>
			<h1><%= title t("views.pages.about.title") %></h1>
			<%= t("views.pages.about.copy.tagline_html") %>
		</header>
	</div>
</div><!-- /.row -->




<div class="row">
	<div class="col-lg-6 col-md-6">
		<%= t("views.pages.about.copy.overview_html") %>

		<br />

		<p><%= link_to t("views.pages.about.link.residential_estate"), housing_projects_path, class: "btn btn-primary btn-lg", role: "button", title: t("views.pages.about.link.title.residential_estate") %></p>
	</div>
	<div class="col-lg-6 col-md-6">
		<p><%= image_tag "land_projects/roanparkphase2/roan_park_banner-600x301.jpg", class: "img-responsive center-block", alt: t("views.pages.about.meta.alt.roan_park_banner"), title: t("views.pages.about.meta.title.roan_park_banner") %></p>
	</div>
</div><!-- /.row -->
