<div class="row">
	<div class="col-lg-4 col-lg-offset-8">
		<header>
			<h1><%= t("views.pages.home.headings.welcome") %></h1>
			<%= t("views.pages.home.copy.welcome_html") %>

			<br />

			<p>
				<%= link_to t("views.pages.home.buttons.learn_more"), "/about", class: "btn btn-primary btn-lg", role: "button" %>
			</p>
		</header>
	</div>
</div>




<script type="text/javascript">
	$('#pages, body').vegas({
		delay: 10000,
		shuffle: true,
		timer: false,
		transitionDuration: 3000,
		slides: [
			{ src: "<%= asset_path "slides/1.jpg" %>" },
			{ src: "<%= asset_path "slides/2.jpg" %>" },
			{ src: "<%= asset_path "slides/3.jpg" %>" },
			{ src: "<%= asset_path "slides/4.jpg" %>" },
		]
	});
</script>
